.wrapper {
  height: calc(100vh);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconleft {
  font-size: 7.1rem !important;
  padding: 0.5rem;
}

.iconright {
  font-size: 7rem !important;
  padding: 0.5rem;
}

@media (min-width: 767px) {
  .icon {
    font-size: 7rem !important;
    padding: 1.5rem;
  }
}
